@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local("Pretendard Regular"), url("./woff2/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local("Pretendard Bold"), url("./woff2/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 900;
  font-display: optional;
  src: local("Pretendard Bold"), url("./woff2/Pretendard-Bold.woff2") format("woff2");
}
